@keyframes moving-text {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .moving-text {
    animation-name: moving-text;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }